
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/login.png" id="icon" alt="User Icon" style="width: 100px;" />
    </div>
{{Invalid}}
    <!-- Login Form -->
    <form>
      <input type="text" name="Uname" required class="fadeIn second" [(ngModel)]="Uname" placeholder="login"/>
      <input type="password" name="Pwd" required class="fadeIn third" [(ngModel)]="Pwd"  placeholder="password"/>
      <input type="submit"  (click)="Login()" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>